<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Jannik Menzel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Navigation ein- oder ausklappen">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ "/" | relURL }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ "/" | relURL }}#about">Über mich</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ "/" | relURL }}#projects">Projekte</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ "/" | relURL }}#contact">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ "/blog/" | relURL }}">Blog</a></li>
            </ul>
        </div>
        <div class="d-none d-lg-flex ms-3">
            <button id="theme-switch" class="btn btn-link nav-link">
                <img id="light-icon" src="{{ "/icons/light.svg" | relURL }}" alt="Light Mode Icon" class="theme-icon">
                <img id="dark-icon" src="{{ "/icons/dark.svg" | relURL }}" alt="Dark Mode Icon" class="theme-icon">
            </button>
        </div>
    </div>
</nav>