<!-- Navigation -->
<nav>
    <div class="container nav-inner">
        <div class="brand fs-4">Jannik Menzel</div>

        <!-- Desktop -->
        <div class="nav-links" id="desktop-nav">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/portfolio">Portfolio</a>
            <button id="theme-switch" class="btn btn-link nav-link" aria-label="Farbschema wechseln">
                <img id="light-icon" src="{{ "/icons/light.svg" | relURL }}" alt="Light Mode Icon" class="dark-icon">
                <img id="dark-icon" src="{{ "/icons/dark.svg" | relURL }}" alt="Dark Mode Icon" class="light-icon">
            </button>
        </div>
    </div>
</nav>
