{{ define "main" }}
    <!-- Header -->
    <header class="hero-section text-center text-light">
        <div class="container blog-section">
            <h1>
                <span class="typewrite" data-period="2000"
                      data-type='[ "Hello, World!",  "Willkommen auf meinem Blog!", "Viel Spaß beim Lesen!" ]'>
                    <span class="wrap"></span>
                </span>
            </h1>
            <p class="lead">Der Studienblog von <span class="highlight-name">@Jannik Menzel</span>.</p>

            <!-- Social Media Links -->
            <div class="social-links-container mt-4">
                <a href="https://www.instagram.com/jnk.mnz/" class="text-decoration-none text-light me-3"
                   target="_blank"
                   rel="noopener noreferrer">
                    <img src="{{ "/icons/instagram.svg" | relURL }}" alt="Instagram Profil von Jannik Menzel"
                         width="50">
                </a>
                <a href="https://dev.to/jnk_mnz" class="text-decoration-none text-light me-3" target="_blank"
                   rel="noopener noreferrer">
                    <img
                            src="{{ "/skills/markdown-light.svg" | relURL }}"
                            data-light-src="{{ "/skills/markdown-light.svg" | relURL }}"
                            data-dark-src="{{ "/skills/markdown-dark.svg" | relURL }}"
                            alt="Markdown Logo"
                            class="carousel-logo theme-sensitive-icon"
                    />
                </a>
                <a href="https://github.com/jannikmenzel" class="text-decoration-none text-light" target="_blank"
                   rel="noopener noreferrer">
                    <img src="{{ "/icons/github.svg" | relURL }}" alt="GitHub Profil von Jannik Menzel" width="50">
                </a>
            </div>
        </div>
    </header>

    <!-- Blog-Beiträge -->
    <section class="container my-5">
        <div class="row">
            {{ range where .Site.RegularPages "Section" "blog" }}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
                    <a href="{{ .RelPermalink }}" class="text-decoration-none text-dark">
                        <div class="card shadow-sm">
                            <img src="{{ .Params.image | relURL }}" alt="Vorschaubild" class="card-img-top">
                            <div class="card-body">
                                <h2 class="card-title">{{ .Title }}</h2>
                                <p class="card-text">{{ .Params.teaser }}</p>
                                <span class="reading-time"><strong>Lesezeit:</strong> {{ .Params.readingtime }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}