/* ========================
   Allgemein
   ======================== */
:root {
    --color-background: #f5f5f5;
    --color-text: #121212;
    --color-accent-green: #6a994e;
    --color-accent-hover: #557a3e;
    --color-grid: rgba(0, 0, 0, 0.1);
    --color-muted-text: #555555;
    --color-card-background: #ffffffb0;
    --color-highlight-background: #f0f0f5;
    --color-highlight-border: #6a994e;
    --color-highlight-text: #121212;
    --color-link: #1a0dab;
    --color-link-hover: #4e73df;
    --color-code-background: #f5f5f5;
    --color-code-text: #b93e3e;
    --color-card-shadow: rgba(0, 0, 0, 0.1);
    --color-card-shadow-hover: rgba(0, 0, 0, 0.2);
    --color-carousel-card: #ffffffb0;
    --color-footer-text-muted: #6a6a6a;
    --color-blog-background: #fdfdfd;
    --color-blog-heading: #222222;
    --color-blog-text: #333333;
}

.dark {
    --color-background: #121212;
    --color-text: #f2f2f2;
    --color-accent-green: #6a994e;
    --color-accent-hover: #a2c281;
    --color-grid: rgba(255, 255, 255, 0.1);
    --color-muted-text: #cccccc;
    --color-card-background: #20202040;
    --color-highlight-background: #292929;
    --color-highlight-border: #6a994e;
    --color-highlight-text: #f5f5f5;
    --color-link: #8ab4f8;
    --color-link-hover: #4e73df;
    --color-code-background: #2e2e2e;
    --color-code-text: #ff7b72;
    --color-card-shadow: rgba(0, 0, 0, 0.5);
    --color-card-shadow-hover: rgba(0, 0, 0, 0.9);
    --color-carousel-card: #20202070;
    --color-footer-text-muted: #b0b0b0;
    --color-blog-background: #1e1e1e99;
    --color-blog-heading: #f5f5f5;
    --color-blog-text: #d1d1d1;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color-grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-grid) 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.3;
    z-index: 0;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, rgba(180, 150, 255, 0.15) 0%, rgba(255, 255, 255, 0) 50%);
    pointer-events: none;
    transition: background 0.1s ease-out;
    z-index: 1;
}

.dark .spotlight {
    background: radial-gradient(circle at 50% 50%, rgba(255, 180, 255, 0.08) 0%, rgba(0, 0, 0, 0) 50%);
}

@keyframes fadeEffect {
    0% { opacity: 0.2; }
    100% { opacity: 0.4; }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.highlight-name {
    color: var(--color-accent-green);
    font-weight: normal;
}


/* ========================
   Navbar
   ======================== */
.navbar {
    background: transparent;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar .container {
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-brand {
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--color-accent-green);
}

.navbar-nav .nav-link {
    color: var(--color-text);
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
    margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
    color: var(--color-accent-hover);
}

#theme-switch {
    height: 2.3rem;
    width: 2.3rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
}

#theme-switch img#light-icon {
    display: none;
}

#theme-switch img#dark-icon {
    display: inline;
}

.dark #theme-switch img#light-icon {
    display: inline;
}

.dark #theme-switch img#dark-icon {
    display: none;
}

/* ========================
   Hero Section
   ======================== */
.hero-section {
    position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 10rem;
}

.hero-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: var(--color-text);
}

.hero-section p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    color: var(--color-muted-text);
}

.blog-section {
    margin-bottom: 8rem;
}

/* ========================
   Social Media Links
   ======================== */
.social-links-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.social-links-container img {
    width: 50px;
    transition: transform 0.2s;
}

.social-links-container img:hover {
    transform: scale(1.1);
}

/* ========================
   About Me
   ======================== */
.about-section {
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    z-index: 2;
}

.about-img {
    width: 100%;
    max-width: 60rem;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

/* ========================
   Skills
   ======================== */
.logo-carousel {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    padding: 20px 0;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scrollCarousel 60s linear infinite;
    transition: transform 0.5s ease;
}

.logo-carousel:hover .carousel-track {
    animation-play-state: paused;
}

.carousel-card {
    background-color: var(--color-carousel-card);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 12rem;
    transition: transform 0.3s ease;
    pointer-events: all;
}

.carousel-card:hover {
    transform: scale(1.1);
}

.carousel-logo {
    width: 80%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.carousel-text {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: var(--color-text);
    text-align: center;
    font-weight: 600;
}

.carousel-link {
    text-decoration: none;
}

.carousel-card:hover .carousel-logo {
    transform: scale(1.1);
}

@keyframes scrollCarousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* ========================
   Projects
   ======================== */
.projects-section {
    position: relative;
    padding: 5rem 0;
    background-color: transparent;
    border-radius: 10px;
    z-index: 2;
}

.projects-section .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-card-background);
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: var(--color-muted-text);
    margin-top: 1.5rem;
}

.projects-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
    position: relative;
}

.projects-section .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.projects-section .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.projects-section .card-text {
    font-size: 1rem;
    flex-grow: 1;
}

.projects-section .btn {
    background-color: transparent;
    border: 1px solid var(--color-accent-hover);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    color: var(--color-accent-hover);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: auto;
}

.projects-section .btn:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-background);
}

/* ========================
   Contact
   ======================== */
.contact-section {
    padding: 4rem 5rem;
    background: var(--color-card-background);
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
    position: relative;
}

.contact-text {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--color-muted-text);
}

.contact-btn {
    background-color: var(--color-accent-hover);
    border: 1px solid var(--color-accent-hover);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    color: var(--color-background);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
}

.contact-btn:hover {
    background-color: transparent;
    color: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
}

/* ========================
   Footer
   ======================== */
.footer {
    background-color: transparent;
    color: var(--color-text);
    padding: 2rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-divider {
    border: 0;
    border-top: 2px solid var(--color-muted-text);
    width: 90%;
    margin-top: 2rem ;
}

.footer .social-links-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer .social-links-container img {
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.footer .social-links-container img:hover {
    transform: scale(1.1);
}

/* ========================
   Container für Layouts
   ======================== */
.container-start, .container-blog {
    margin: auto;
    padding: 0 15px;
}

/* ========================
   Blog Cards
   ======================== */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--color-card-background);
    z-index: 2;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-text);
    text-align: left;
}

.card-text {
    font-size: 1rem;
    color: var(--color-blog-text);
    margin-bottom: 15px;
}

.reading-time {
    font-size: 0.9rem;
    color: var(--color-footer-text-muted);
    margin-top: auto;
}

/* ========================
   Artikel-Inhalt
   ======================== */
#blog-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--color-blog-background);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    hyphens: auto;
    text-align: justify;
    line-height: 1.8;
    color: var(--color-blog-text);
    z-index: 2;
}

#blog-content h1 {
    font-size: 2.3rem;
    margin-top: 0;
    text-align: left;
    color: var(--color-blog-heading);
    hyphens: none !important;
}

#blog-content h2 {
    font-size: 2rem;
    color: var(--color-blog-heading);
}

#blog-content h3 {
    font-size: 1.5rem;
    color: var(--color-blog-text);
}

#blog-content h4 {
    font-size: 1.25rem;
    color: var(--color-blog-heading);
}

#blog-content h5 {
    font-size: 1.1rem;
    color: var(--color-blog-heading);
}

#blog-content h6 {
    font-size: 1rem;
    color: var(--color-blog-heading);
}

#blog-content p,
#blog-content li {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: var(--color-blog-text);
}

#blog-content ul, #blog-content ol {
    padding-left: 20px;
}

#blog-content blockquote {
    background-color: var(--color-highlight-background);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--color-highlight-text);
    border-left: 5px solid var(--color-highlight-border);
}

#blog-content a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
}

#blog-content a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

#blog-content code {
    background-color: var(--color-code-background);
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-code-text);
    display: block;
    margin: 0 auto;
    text-align: center;
}

#blog-content img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#blog-content img[src$='#inverted'] {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    max-height: none !important;
}

.dark #blog-content img[src$='#inverted'] {
    content: attr(src);
    display: none;
}

.dark #blog-content img[src$='#inverted']::after {
    content: attr(src);
    display: block;
}

.dark #blog-content img[src$='#inverted'] {
    content: attr(src);
}

.dark #blog-content img[src$='#inverted'] {
    display: none;
}

.dark #blog-content img[src$='#normal'] {
    display: block;
}

/* ========================
   Responsives Design
   ======================== */
@media (min-width: 1200px) {
    #blog-content {
        margin: 0 auto;
        padding: 0 5vw;
        max-width: 1200px;
    }
}

@media (max-width: 1000px) {
    .projects-section .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .projects-section .col-md-4 {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 800px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 1.4rem;
    }

    .social-links-container img {
        width: 40px;
    }

    .profile-img {
        width: 15rem;
    }

    .hero-section {
        padding-top: 6rem;
        padding-bottom: 2rem;
    }

    .projects-section .row {
        display: flex;
        justify-content: center;
    }

    .projects-section .col-md-4 {
        flex: 1 1 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .projects-section .card {
        width: 100%;
        max-width: 600px;
    }

    .contact-section {
        width: 90%;
        padding: 40px 15px;
    }
}

@media (max-width: 700px) {
    .container-start, .container-blog {
        padding: 0 10px;
    }

    #blog-content {
        padding: 20px 10px;
    }

    #blog-content h1 {
        font-size: 1.8rem;
    }

    #blog-content h2 {
        font-size: 1.6rem;
    }

    #blog-content h3 {
        font-size: 1.4rem;
    }

    #blog-content p, #blog-content li {
        font-size: 1rem;
    }

    #blog-content img {
        max-height: 50vh;
    }
}

@media (max-width: 600px) {
    .about-img {
        display: none;
    }

    .footer p {
        font-size: 1rem;
    }

    .footer .social-links-container img {
        width: 35px;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}
