---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <main class="w-full container">
        <!-- Header -->
        <!-- Header -->
        <header class="py-10 sm:py-20">
            <h1 class="text-center text-2xl sm:text-4xl md:text-5xl font-bold font-display mb-4">Über Uns</h1>
            <div class="h-1 w-16 sm:w-24 bg-primary mx-auto"></div>
        </header>

        <!-- Content -->
    </main>
</Layout>
