---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <main class="w-full container">
        <!-- Header -->
        <header class="pt-20">
            <h1 class="text-center text-5xl font-bold font-display mb-4">Über Mich</h1>
            <div class="h-1 w-24 bg-primary mx-auto"></div>
        </header>

        <!-- Content -->
    </main>
</Layout>
