---
import { Heart } from "@lucide/astro";
---

<footer class="bg-darkAlt dark:bg-darkOff px-8 py-20 text-sm">
    <ul class="flex justify-center gap-10 list-none">
        <li>
            <a href="/impressum" class="text-light text-base"> Impressum </a>
        </li>
        <li>
            <a href="/datenschutz" class="text-light text-base"> Datenschutzerklärung </a>
        </li>
    </ul>
    <Heart class="h-12 w-12 mx-auto text-light my-10" />
    <p class="text-lightOff text-center">
        &copy; Copyright {" "}
        <a href="/" class="text-light text-base"> Jannik Menzel </a>{" "}
        | Alle Rechte beibehalten.
    </p>
</footer>
