---
import { Image } from "astro:assets";
import instagramIcon from "../images/icons/instagram.svg";
import linkedinIcon from "../images/icons/linkedin.svg";
import githubIcon from "../images/icons/github.svg";
---

<footer class="bg-darkAlt dark:bg-darkOff px-4 sm:px-8 py-10 sm:py-20 text-sm sm:text-base">
    <ul class="flex flex-wrap justify-center gap-4 sm:gap-10 list-none text-center">
        <li>
            <a href="/" class="text-light text-sm sm:text-base hover:text-lightOff hover:underline"
                >Home</a
            >
        </li>
        <li>
            <a
                href="/blog"
                class="text-light text-sm sm:text-base hover:text-lightOff hover:underline">Blog</a
            >
        </li>
        <li>
            <a
                href="/impressum"
                class="text-light text-sm sm:text-base hover:text-lightOff hover:underline"
            >
                Impressum
            </a>
        </li>
        <li>
            <a
                href="/datenschutz"
                class="text-light text-sm sm:text-base hover:text-lightOff hover:underline"
            >
                Datenschutzerklärung
            </a>
        </li>
    </ul>
    <div class="flex justify-center gap-6 my-8 sm:my-10">
        <a
            href="https://instagram.com/jnk.mnz"
            target="_blank"
            rel="noopener noreferrer"
            class="text-light"
        >
            <Image src={instagramIcon} alt="Instagram" class="h-10 w-10 sm:h-12 sm:w-12 mx-auto" />
        </a>
        <a
            href="https://linkedin.com/in/jannik-menzel"
            target="_blank"
            rel="noopener noreferrer"
            class="text-light"
        >
            <Image src={linkedinIcon} alt="LinkedIn" class="h-10 w-10 sm:h-12 sm:w-12 mx-auto" />
        </a>
        <a
            href="https://github.com/jannikmenzel"
            target="_blank"
            rel="noopener noreferrer"
            class="text-light"
        >
            <Image src={githubIcon} alt="GitHub" class="h-10 w-10 sm:h-12 sm:w-12 mx-auto" />
        </a>
    </div>
    <p class="text-lightOff text-center text-sm sm:text-base">
        &copy; Copyright {" "}
        <a href="/" class="text-light text-sm sm:text-base"> Jannik Menzel </a>{" "}
        | Alle Rechte vorbehalten.
    </p>
</footer>
